/*css*/
@import "../css/grid.css";
@import "../css/superfish.css";
@import "../css/touchTouch.css";
@import "../css/form.css";
@import "../css/stuck.css";
@import "../css/camera.css";

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,400italic,300,700,900);

input::-ms-clear {
	 display: none;
}

html, body { }

a[href^="tel:"] {
	color: inherit;
	text-decoration:none;
}
* {
	-webkit-text-size-adjust: none;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both; width:100%; font-size:0; line-height:0;}
.wrapper, .wrapper-extra, .extra-wrap{
	position: relative;
	overflow:hidden;
	width: 100%; 
}
.wrap {
	position: relative;
	/*text-align: center;*/
}
.wrapper-after:after{
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
}
.dis-block{display: block;}
.dis-inblock{display: inline-block;}

.txt_left{text-align: left;}
.txt_right{text-align: right;}
.txt_cntr{text-align: center;}
.txt_ital{font-style: italic;}
.txt_line_through{text-decoration: line-through;}

.lh24{line-height: 24px;}


.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{ margin-right:0 !important;margin-left:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

.marLeft1{margin-left: 10px;}

.marRight1{margin-right: 13px;}
.marRight2{margin-right: 69px;}

.padTop1{padding-top: 20px;}

.padBot1{padding-bottom: 60px;}
.padBot2{padding-bottom: 41px;}

.mar1{margin-right: 18px;}

.marTop0{margin-top: 0px;}
.marTop1{margin-top: 16px;}
.marTop2{margin-top: 4px;}
.marTop3{margin-top: 64px;}
.marTop4{margin-top: 14px;margin-bottom: -3px;}
.marTop5{margin-top: 7px;}



.indent1{width: 100%; margin-top: 30px;}
.indent2{width: 100%; margin-top: 55px;}


.pos_rel{position: relative;}

.marBot1{margin-bottom: -12px;}

.hline2{
	position: relative;
	width: 100%;
	padding-bottom: 36px;
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
}
.hline2.v2{
	padding-bottom: 29px;
	margin-top: 0px;
}
.hline2.v3{
	padding-bottom: 59px;
	margin-top: 0px;
	margin-bottom: 52px;
}
.hline2.v4{
	padding-bottom: 59px;
	margin-top: 0px;
	margin-bottom: 52px;
}

.box, .box2, .box3{overflow: hidden;}
.bold{font-weight: bold;}
.fw400{font-weight: 400;}
.fw600{font-weight: 600;}

.color1{color: #459e18 !important;}
.color2{color: #fff !important;}

/*.bg1{background: #000;}*/







/* Global properties ======================================================== */
html, body { margin:0; padding:0; height:100%;}

body {
	min-width:300px;
	background: #f2f2f2;
	color:#888;
	font:13px/18px "Roboto", Arial, Helvetica, sans-serif ;
}
.fs_14{font-size: 14px;}
#back-top {
	position: fixed;
	bottom: 40px;
	left: 51%;
	z-index: 1000;
	display: none;
	margin-left: 620px;
	width: 26px;
	height: 26px;
	/*background: url(../images/up-arrow.png) 50% 50% no-repeat;*/
	color: #54b00a;
	text-align: center;
	cursor: pointer;
	border-radius: 500px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;

}
#back-top i{line-height: 38px; font-size: 38px; /*display: none*/}
#back-top:hover {
	color: #000;
	/*background: url(../images/up-arrow.png) 50% 50% no-repeat #b5fa9c;*/
}
.main{
	padding:0 0 0 0;
	width:100%;
	height: auto; 
	 /*background: #f2f1e6; */
	 margin:0 auto;
}
.div-content{
	margin:0 auto;
	padding-top: 0px;
	padding-bottom: 50px;
	width:100%;
	background: #fff;
	overflow: hidden;
}
.div-content.content_page{padding-bottom: 30px;}


/***********************************************************************/
/*===============================>H-logo-properties=========================*/
h1{
	position: relative;
	display: inline-block;
	margin:0;
	margin-top: 0px;
	float: left;
}
h1 img{max-width: inherit;}


h2 {
	font:500 40px/40px 'Roboto', Arial, sans-serif;
	color:#010101;
	margin-top: 43px;
	margin-left: -3px;
}
h2.v2{margin-top: 0;margin-bottom: 11px;}

h7 {
	font:500 24px/24px 'Roboto', Arial, sans-serif;
	color:#ffffff;
	margin-top: 43px;
	margin-left: -3px;
}

h3 {
	font:500 22px/30px 'Roboto', Arial, sans-serif;
	color:#2d2d2d;
	margin-top: 33px;
	margin-bottom: -2px;
}


h4 {
	font:300 20px/25px 'Roboto', Arial, sans-serif;
	color:#f25f43;
	margin-top: 37px;
	text-transform: uppercase;
}


#search-results h4{color: #000; padding-bottom: 12px;}
span.search{color: #3e9e08 !important;}
#search-results h4 a:hover{color: #3e9e08;}
h5{ 
	margin-top: 10px;
	margin-bottom: 0;
	color:#333333;
	text-transform: uppercase;
	font:14px/22px 'Roboto', Arial, sans-serif;
}

.txt1 {
	font:14px/20px 'Roboto', Arial, sans-serif;
	margin-top: 6px;
	color: #777;
	text-align: right;
}
.head {
	font:bold 60px/60px 'Roboto', Arial, sans-serif;
	margin-top: 6px;
	color: #2d2d2d;
	text-align: right;
}
.txt2 {
	font:bold 24px/24px 'Roboto', Arial, sans-serif;
	margin-top: 6px;
	color: #2d2d2d;
	text-align: right;
}
.txt3 {
	font:bold 20px/24px 'Roboto', Arial, sans-serif;
	margin-top: 4px;
	color: #459e18;
	display: inline-block;
	margin-right: -5px;
}
.txt4 {
	font:500 30px/30px 'Roboto', Arial, sans-serif;
	margin-top: 6px;
	color: #fff;
}
.txt5 {
	font:500 40px/40px 'Roboto', Arial, sans-serif;
	margin-top: 24px;
	color: #000;
	margin-bottom: -5px;
}
.txt6 {
	font:15px/20px 'Roboto', Arial, sans-serif;
	margin-top: 10px;
	color: #888;
}
.txt7 {
	font:500 17px/24px 'Roboto', Arial, sans-serif;
	margin-top: 2px;
	color: #2d2d2d;
}
.txt8 {
	font:14px/20px 'Roboto', Arial, sans-serif;
	margin-top: 4px;
	color: #459e18;
}
.txt9 {
	font: 500 22px/24px 'Roboto', Arial, sans-serif;
	color:#fff;
	margin-top: 20px;
	margin-bottom: 9px;
}
.txt10 {
	font: 500 22px/24px 'Roboto', Arial, sans-serif;
	color:#fff;
	margin-top: 0px;
	margin-bottom: 9px;
}
.txt11 {
	font:500 17px/24px 'Roboto', Arial, sans-serif;
	margin-top: 8px;
	margin-bottom: -9px;
	color: #459e18;
}
.txt12 {
	font: 500 22px/24px 'Roboto', Arial, sans-serif;
	color:#2d2d2d;
	margin-top: 20px;
	margin-bottom: 9px;
}
.txt13 {
	font: 500 17px/22px 'Roboto', Arial, sans-serif;
	color:#2d2d2d;
	margin-top: 17px;
	margin-bottom: -2px;
}
.txt14 {
	font: 13px/22px 'Roboto', Arial, sans-serif;
	color:#888;
	margin-top: 17px;
	float: left;
}

p{margin-top: 7px;}
img{ margin-bottom: 0px;max-width:100%; height:auto;}

.img1{
	margin-top: 30px;
	float: left;
	margin-right: 15px;
}
.img2{margin-top: 25px;}
.img3{
	margin-top: 25px;
	float: left;
	margin-right: 29px;
}
.img4{margin-top: 25px;}
.img5{margin-top: 25px;}
.img6{
	margin-top: 25px;
	float: left;
	margin-right: 29px;
}
.img7{
	margin-top: 25px;
	float: left;
	margin-right: 29px;
}

a { 
	text-decoration:none; 
	cursor:pointer;
	color: inherit;
}

a.link1{color: #459e18;}
a.link1:hover{color: #000;}

a.link2{text-decoration: underline;}
a.link2:hover{color: #000; text-decoration: underline;}

footer a.link2{text-decoration: none;}

a:hover{
	color: #459e18;
	text-decoration:none;
}
a{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.num_section{
	position: relative;
	width: 70px;
	height: 70px;
	/*height: 126px;*/
	background-color: #459e18;
	float: left;
	margin-right: 16px;
	text-align: center;
	margin-top: 11px;
	color: #fff;
	text-transform: uppercase;
	font:500 40px/70px 'Roboto', Arial, sans-serif;
	border-radius: 500px;
}
.day{font:30px/30px 'Roboto', Arial, sans-serif; margin-top: 9px; display: inline-block;}
.month{font:18px/18px 'Roboto', Arial, sans-serif; margin-top: 0;}




/************Header************/
header{
	position: relative;
	z-index: 11;
	padding: 0;
	padding-top: 10px;
}
header.content_header{
	margin-bottom: 40px;
}
.gall_holder{
	background: #2d2d2d;
	margin-top: 6px;
}

#stuck_container{
	position: relative;
	z-index: 100;
}

.menu_holder{
	margin-top: 22px;
	background: #459e18;
}
.gradient1 {
	background: #fcfcfc; /* for old browsers */
	background: -moz-linear-gradient(top, #fcfcfc, #dfdfe1); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
				color-stop(0%,#fcfcfc), color-stop(100%,#dfdfe1));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, #fcfcfc, #dfdfe1);
	background: -o-linear-gradient(top, #fcfcfc, #dfdfe1); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc, #dfdfe1); /* IE10 */
	background: linear-gradient(top, #fcfcfc, #dfdfe1); /* CSS3 */ 
}



/************Content***********/



blockquote{
	position: relative;
	margin-top: 21px;
	display: block;
	padding-left: 45px;
	background: url(../images/quote_sign.png) 2px 5px no-repeat;
}

.magnifier2:hover .img_section_txt2{
	top: 0;
}

.banner1{
	width: 50%;
	position: relative;
	background: #2d2d2d;
	float: left;
	margin: 0;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 20px 30px 36px 27px;
}
.banner1+.banner1{background: #383838;}
.banner1 .more_btn{
	float: right;
	margin-left: 52px;
	margin-top: 13px;
}


.banner2{
	position: relative;
	background: #2d2d2d;
	margin: 0;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 25px 30px 31px 29px;
	margin-top: 24px;
}
.banner2.v2{background: #383838;}
.banner2.v3{background: #424242;}


.box-1{
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 10px 0px 57px;
	background: #2d2d2d;
	margin-top: 6px;
	margin-bottom: 11px;
}
.box-1.v2{padding-bottom: 52px;}
.box-1.v3{padding-bottom: 47px;}

.box-2{
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 25px 10px 26px 30px;
	background: #383838;
	margin: 0;
	width: 100%;
}

.link-box:hover .box-1{background: #54b00a;}
.link-box:hover .color1{color: #000 !important;}


/* ============================= lists ====================== */
.listWithMarker {
	margin: 0;
	margin-top: 10px;
}
.listWithMarker li {
	display: block;
	margin-bottom: 7px;
}
.listWithMarker li a {
	color: #459e18;
	text-decoration: none;
	font: 500 17px/20px 'Roboto', Arial, sans-serif;
}
.listWithMarker li a:hover, .listWithMarker li.current a {
	color: #000;
}



.list2 {
	margin: 0;
	margin-top: 19px;
}
.list2 li {
	display: block;
	margin-bottom: 10px;
	padding-left: 16px;
	background: url(../images/list_marker.png) 0 10px no-repeat;
}
.list2 li a {
	color: #888;
	text-decoration: none;
	font: 13px/20px 'Roboto', Arial, sans-serif;
}
.list2 li a:hover, .list2 li.current a {
	color: #459e18;
}



.list_footer {
	margin: 0;
	margin-left: 32px;
}
.list_footer li {
	display: block;
	float: left;
	margin-right: 25px;
}
.list_footer li a {
	color: #2d2d2d;
	text-decoration: none;
	font: bold 20px/20px 'Roboto', Arial, sans-serif;
}
.list_footer li a:hover, .list_footer li.current a {
	color: #459e18;
}





/* ============================= end lists ====================== */
.more_btn_gall{
	position: relative;
	display: inline-block;
	margin-top: 35px;
	padding: 14px 18px;
	background: #2d2d2d;
	color: #fff;
	text-decoration:none; 
	font:bold 20px/24px "Roboto", Arial, sans-serif;
}
.more_btn_gall:hover{
	color: #000;
	background: #fff !important;
}



.more_btn{
	position: relative;
	display: inline-block;
	margin-top: 35px;
	padding: 16px 30px 21px;
	background: #54b00a;
	color: #fff;
	text-decoration:none; 
	font: bold 20px/20px "Roboto", Arial, sans-serif;
}
.more_btn:hover{
	color: #fff;
	background: #000 !important;
}


.more_btn2{
	position: relative;
	display: inline-block;
	margin-top: 28px;
	padding: 14px 31px 17px;
	background: #54b00a;
	color: #fff;
	text-decoration:none; 
	font: 500 17px/20px "Roboto", Arial, sans-serif;
}
.more_btn2:hover{
	color: #fff;
	background: #5b5b5b;
}




.more_btn3{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background:url(../images/header_search_icon.png) 0 0 no-repeat;
	margin-left: -28px;
	margin-top: 11px;
}
.more_btn3:hover{background:url(../images/header_search_icon.png) 0 bottom no-repeat;}





figure{display: block; margin-top: 7px;margin-bottom: 20px;}
.figure_video{
	margin-bottom: 10px;
	margin-top: 17px;
}
figure.img_inner {
	display: block;
	overflow: hidden;
	height: auto;
	line-height: 0;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 12px;
}
figure.img_inner.v2{
	margin-top: 24px;
	margin-bottom: 22px;
}
figure.img_inner.v2 iframe{height: 461px;}
figure iframe {
	width: 100%;
	height: 373px;
}
address{
	display: block;
	margin-top: 20px;
	font-style: normal;
}
address dl dt{
	margin-bottom: 0px;
	display: inline-block;
	/*color: #454545;*/
	margin-bottom: 9px;
	font-weight: bold;
	font:500 22px/24px 'Roboto', Arial, sans-serif;
	color: #2d2d2d;
}
address dd span{
	position: relative;
	display: inline-block;
	width: 105px;
}



/*********************************start magnifier2*************************************/
.magnifier2 {
		position:relative;
		/* display:block; */
		display: inline-block;
		width: 100%;
		overflow: hidden;
}
.magnifier2 img{
}
.zoom{
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/

		box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: url(../images/magnifier2.png) 50% 50% no-repeat;
	-webkit-transition: all 0.6s ease;
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition: all 0.6s ease;
}
a.magnifier2:hover .zoom{
	opacity: 1;
}
a.magnifier2 .zoom{
	opacity: 0;
}
/*********************************end magnifier2*************************************/
/************Footer************/
footer{ 
	display: block; 
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
.footer_priv{
	padding: 17px 0 30px;
}
footer h1{margin-top: 1px; float: none;}
p.txt_priv{
	color:#777;
	font:12px/20px "Roboto", Arial, sans-serif;
	margin-top: 11px;
}



/*----------- start social icons ----------------*/

.soc_icons {
	position: relative;
	display: inline-block;
	margin-top: -7px;
	white-space: nowrap;
	text-align: left;
	float: right;
}
.soc_icons > li {
	position: relative;
	display: inline-block;
	margin-left: 14px;
}
.soc_icons > li > a {
	position: relative;
	color: #5061c6;
	line-height: 1em;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	display: inline-block;
	text-align: center;
}
.soc_icons > li + li > a {color: #42ceec;}
.soc_icons > li i{font: normal normal 38px/38px 'FontAwesome';}
.soc_icons > li > a:hover {
	color: #54b00a !important;
	text-decoration: none;
}



/*----------- end social icons ----------------*/


.lightbox-video{
	position:relative;
	display:inline-block;
	margin-top: 13px;
}
.lightbox-video span.video_icon {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: url(../images/video_sign.png) no-repeat 50% 50%;
	z-index:1;
	opacity: 0;
}
.opacity1 {opacity: 1;}
.lightbox-video span.video_title {
	display:block;
	position:absolute;
	right:0;
	bottom:0;
	z-index:1;
	background: #474747;
	color: #fff;
	padding: 4px 10px;
	font:bold 12px/20px Arial, Helvetica, sans-serif;
}


.priv_section1{float: left;}
.priv_section2{float: right;}







/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1199px) {
	.div-content{width:100%;}
	address dd span{width: 85px;}

	figure.img_inner{float: none; margin-right: 0;}
	figure iframe {width: 100%;}

	.caption {top: 20px; right: 20px;}
	h2 {margin-left: 0;}

	.list_footer{margin-left: 0;}
	.list_footer li{margin-right: 15px;}
	.list_footer li a {font:bold 18px/20px 'Roboto', Arial, sans-serif;}


}


@media only screen and (max-width: 979px) {
	.address figure iframe {
		max-width:100%;
		width: 100%;
	}
	
	figure iframe {width: 100%;}
	.magnifier2 {width: 100%;}

	.caption{width: auto; right: 22px; top: 10px;}
	.caption span.slider_txt1, .caption span.slider_txt2{display: none;}
	.more_btn_gall{margin-top: 10px;}

	.more_btn{padding: 16px 14px;}
	.banner1 .more_btn{margin-left: 12px;}
	.soc_icons{margin-top: 20px;}
	footer h1 img{width: 100%;}
	.marTop3{margin-top: 44px;}
	

	.camera_next {right: 0px;}
	.camera_prev {left: 0px;}

	.img3{margin-bottom: 10px; width: 100%;}
	.img7{margin-bottom: 10px; width: 100%;}



}


@media only screen and (max-width: 767px) {

	img{width: 100%;}
	img.no_resize{width: auto;}
	.box{overflow: visible;}
	.mobile_txt_cntr{text-align: center;}
	figure.img_inner {margin-bottom: 10px;}
	.marTopMobile1{margin-top: 30px;}
	.banner1{width: 100%;}
	.img6{margin-bottom: 10px;}
	.txt3{display: block; margin: 0;}

	.caption span.slider_txt4 {font: 500 22px/23px "Roboto", Arial, Helvetica, sans-serif;}
	.caption{width: auto; right: auto; top: 20px; padding: 20px 20px 30px; position: relative; display: inline-block;}
	.cameraContent{text-align: center;}


}


@media only screen and (max-width: 479px) {
	.banner1 .more_btn{
		float: none;
		margin-left: 0;
		margin-top: 13px;
	}
	.banner1 .box2 p{display: none;}

	.list_footer li a {font: 14px/20px 'Roboto', Arial, sans-serif;}
	.list_footer li{margin-right: 9px;}
	/*.main{width: 300px;}*/
	/*h1 img{width: 100%;}*/

}
@media only screen and (max-width: 320px) {


}